/* --------------------------------------- GLOBALS -------------- */

@primarycolor: white;
@primarycolor-trans: rgba(255,255,255,.6);
@secondarycolor: black;
@secondarycolor-trans: rgba(0,0,0,.5);

@hovercolor: brown;

body{
    font-family: 'Roboto', sans-serif;
}

/*#tools{
  background-color: @primarycolor;
  height:40px;
  position: relative;
  margin:0px;
  padding:10px 0px;
}*/
/*
#tools-nav{
  ul{
    padding:0px 40px;
    margin:0px;
    text-align:justify;

li {
    // width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    cursor:pointer;
  text-align: justify;

    &:hover{
      color:red;
    }
}

    } //ul
}*/

.pu-slug-trigger{
  cursor:pointer;
  color:pink;
  &:hover{
    color:@hovercolor;
  }
}

#posts-active{
  position:relative;
  height:100%;
  background-color:@primarycolor;
  padding:10px;
  color:black;
} //posts-active

#active-container.collapsed{
    right:-700px;
  } //collapsed

/*#postslist-posts{*/
#postslist-container{

height:100%;
position:relative;
  background-color:@primarycolor;
  padding:10px;
  li{
    cursor:pointer;
    list-style: none;
    font-size:.8em;
    &:hover{
      color:@hovercolor;
    }//hover
      }//li

li.active.seen{
      font-weight: 800;
      color:black;
    }//.active

    li.seen{
      color:gray;
    }//.active

#search-container{
  margin-top:33px;
padding:0px;
}

.search-wrapper{
  margin-bottom:22px;
}

} // postslists-posts

#postslist-container.collapsed{
    left:-350px;
  }

/* --------------------------------------- MAP -------------- */

#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}

/* --------------------------------------- ACTIVITY -------------- */

.activity-cancel{
  cursor:pointer;
}

#activity-default{
  padding-left:20px;
}

#activityContainer.idle {
    z-index:0;
    display:none;
}

#activityContainer {

  #activity-spin{margin-right:6px;}
  #activity-spin.true{
content: "88888";
color:"#b4a5b1";
  }
  #activity-spin.false{
    display:none;
content: "000";
color:"#a9d9d1";
  }

        background-color: @secondarycolor;
    border-bottom-width: 0;
    border-left-width: 0;
  color:@primarycolor;
    // height: 30px;
    // margin-bottom: 0;
    font-weight: 800;
    opacity: 0.9;
    // padding: 5px 10px;
    // z-index: 8;

}

#auditContainer{
  background-color:red;
  height: 100%;
  z-index: 666;
  color:yellow;
}

#activityContainer {
  margin:0;
  // padding-left:44px;
  // padding-right:44px;
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
    text-shadow: 0 0 8px #ccc;
}
@-webkit-keyframes pusate {
    from { box-shadow: 0 0 10px @secondarycolor-trans; }
    to { box-shadow: 0 0 20px @primarycolor-trans; }
}
@-moz-keyframes pusate {
    from { box-shadow: 0 0 10px @secondarycolor-trans; }
    to { box-shadow: 0 0 20px @primarycolor-trans; }
}
@keyframes pusate {
    from { box-shadow: 0 0 10px @secondarycolor-trans; }
    to { box-shadow: 0 0 20px @primarycolor-trans; }
}


/* --------------------------------------- NPROGRESS OVERRIDES -------------- */

#nprogress .spinner{
  top:5px;
}
#nprogress .spinner-icon {
    height:20px;
    width:20px;
    border-width:1px;
    border-color: @primarycolor transparent transparent @primarycolor-trans;
}

#nprogress {
  .bar {
  background: @primarycolor;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}}
/* --------------------------------------- FANCY SUBNAV TABS -------------- */


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  /*border-radius: 4px;*/
  /*-moz-border-radius: 4px;*/
  border:1px solid #ddd;
  /*margin-top: 20px;*/
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: @secondarycolor;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  background-color: @secondarycolor;
  background-image: @secondarycolor;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>a.active:after{
  content: '';
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-left: 10px solid @secondarycolor;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}


/* ------------------------------------------------------------------------------------ BHOECHIE OVERRIDES -- */

.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}


/* --------------------------------------- HIT MARKER -------------- */

.leaflet-popup-content-wrapper{

.leaflet-popup-content{
  h5{
    color:pink;
  }
  .pu-copy{
    padding-bottom: 20px;
    .label{

    }
    input{
      margin-bottom:8px;
    }
    textarea{
      margin-bottom:8px;
    }
  }
}

div.leaflet-popup-content .marker.bt{
  color:navy;
  cursor:pointer;
}}

.leaflet-popup-content-wrapper{
  // height:200px;
  // width:420px;
  overflow: hidden;
  .leaflet-popup-content{

    position: relative;
    .leafraud-popup-og{
    position: relative;
        height:100%;
      }
      .leafraud-popup-og.replaced{
        left: 95%;
      }

.leafraud-popup-replacer{
  width:0px;
  overflow: hidden;
}
.leafraud-popup-replacer.replaced{
      background-color:brown;
      height:100%;
    width:85%;
  }

  }
}

/* --------------------------------------- SPOTEMBED -------------- */
.spotembed{
  text-align:center;
}

.spotembed.player{
  background-color:white;
  color:pink;
}

/* --------------------------------------- SCREENPLAY -------------- */
.screenbox {
    list-style: none;
    // width: 420px;
    background: white;
    border: 1px solid #333;
    padding: 5px 14px;
    margin-top:22px;
    margin-bottom:22px;
}
.screenbox li { font: 12px/14px Courier, fixed; }
.sceneheader,.character{text-transform: uppercase;}
.sceneheader, .action, .character { padding-top: 1.5ex; }
.action { padding-right: 5%; }
.character { margin-left: 40%; }
.dialogue { margin-left: 25%; padding-right: 25%; }
.parenthetical { margin-left: 32%; padding-right: 30%; }
/* special case: dialogue followed by a parenthetical; the extra line needs to be suppressed */
.dialogue + .parenthetical { padding-bottom: 0; }
.transition { padding-top: 3ex; margin-left: 65%; padding-bottom: 1.5ex; }