/* --------------------------------------- GLOBALS -------------- */

@primarycolor: white;
@primarycolor-trans: rgba(255,255,255,.6);
@secondarycolor: #94948B;
// @activebg: #EAF7EA;
@activebg: #F5F5F5;
@secondarycolor-trans: rgba(0,0,0,.5);
@highlightcolor-trans: rgba(240,240,240,.5);

/*@titlecopy: #D752DE;*/

/*@titlecopy: #FED4F6;  light pink */

/*@titlecopy: #A5D2DD;  powd blue */

@titlecopy: #244556; /* navy */


@anno: #ABABA1;
@bodycopy: #ABABA1;

@alink: #919191;

@hovercolor: black;

.stroke-gray{
  text-shadow: @bodycopy 0px 0px 1px,   @bodycopy 0px 0px 1px,   @bodycopy 0px 0px 1px,
             @bodycopy 0px 0px 1px,   @bodycopy 0px 0px 1px,   @bodycopy 0px 0px 1px;
-webkit-font-smoothing: antialiased;
}


/* --------------------------------------- TITLES/HEADERS -------------- */

#footer{
  height:12px;
  background-color:black;
  color:white;
  text-align:center;
  font-size:.8em;
}

#title-container{
  text-align: center;
  /*font-family: 'Open Sans', sans-serif;*/
  /*font-family: 'Lato', sans-serif;*/
/*font-family: 'PT Mono', ;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: 'PT Sans Narrow', sans-serif;
  z-index: 10;
  font-weight:800;
font-variant: small-caps;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  // margin-top: 20px;
  /*margin-left: 50px; OG */
  margin-left: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);

#title-copy{
  padding-left:33px;
  padding:10px;

}



}

body{
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Gentium Book Basic', serif;*/
    /*font-family: 'Old Standard TT', serif;*/
    /*font-family: 'PT Serif', serif;*/
    /*font-family: 'Roboto', sans-serif;*/
  font-family: 'PT Sans', sans-serif;
  color:@bodycopy;

    a{
      color:@alink;
    }
}

h1,h2{
  /*color: @titlecopy;*/
  font-family: 'PT Sans Narrow', sans-serif;
  color:white;
  .stroke-gray;

}

h3,h4,h5{
  font-family: 'PT Sans Narrow', sans-serif;
  // color:@titlecopy;
  color:@bodycopy;
}

.st-title{
  font-size: 3em;
  color:@titlecopy;
  // .stroke-gray;

}
.st-title-sub{
  font-size:1.8em;
  padding-left:10px;
  color:@titlecopy;
  line-height: 2.5em;
}

.lyrics{
  font-style: italic;
  margin-top:20px;
  margin-bottom:30px;
padding: 25px;
width: 90%;
margin-left: 5%;
  font-style: italic;
  color:@anno;
  background-color:@highlightcolor-trans;
  border-radius:2px;
}
/*#tools{
  background-color: @primarycolor;
  height:40px;
  position: relative;
  margin:0px;
  padding:10px 0px;
}*/
/*
#tools-nav{
  ul{
    padding:0px 40px;
    margin:0px;
    text-align:justify;

li {
    // width: auto;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    cursor:pointer;
  text-align: justify;

    &:hover{
      color:red;
    }
}

    } //ul
}*/

.pu-slug-trigger{
  cursor:pointer;
  // color:pink;
  &:hover{
    color:@hovercolor;
  }
}

#posts-active{
  position:relative;
  height:100%;
  background-color:@primarycolor;
  padding:10px;
  // color:black;
} //posts-active

#active-container.collapsed{
    right:-700px;
  } //collapsed

/*#postslist-posts{*/
#postslist-container{

  #postslist-posts{
    padding:32px;
    /*font-size:1.2em;*/
  }

height:100%;
position:relative;
  background-color:@primarycolor;
  padding:10px;
  li{
    line-height: 1.7em;
    cursor:pointer;
    list-style: none;
    font-size:.8em;
    &:hover{
      color:@hovercolor;
      font-weight:800;
    }//hover
      }//li

li.active.seen{
      font-weight: 800;
      color:black;
    }//.active

    li.seen{
      color:gray;
    }//.active

#search-container{
  margin-top:33px;
padding:0px;
color: @bodycopy;
}

.search-wrapper{
  margin-bottom:22px;

  #bt-search-search{
    color:@bodycopy;
  }
  #bt-search-reset{
    color:@bodycopy;
  }
}

} // postslists-posts

#postslist-container.collapsed{
    left:-350px;
  }

/* --------------------------------------- MAP -------------- */

#map {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
}


/* --------------------------------------- ACTIVE POST -------------- */

.bt-post-bank{
  padding-top:12px;
  color: @titlecopy;
  font-size:2em;
  cursor:pointer;
  list-style: none;
text-align: center;
// .bt-post-zoomto{
// }
margin-bottom:22px;

.bt-post-bank-item{
  color:@activebg;
  margin-right:6px;
  &:hover{
    // color:@hovercolor;
    // color:white;
    .stroke-gray;
  }
}
}

.bt-post-bank.inactive{
  display:none;
  color:@anno;cursor:default;}

img.active-post-jacket{

}

/* --------------------------------------- ACTIVITY -------------- */

.activity-cancel{
  cursor:pointer;
}

#activity-default{
  padding-left:20px;
}

#activityContainer.idle {
    z-index:0;
    display:none;
}

#activityContainer {

  #activity-spin{margin-right:6px;}
  #activity-spin.true{
content: "88888";
color:"#b4a5b1";
  }
  #activity-spin.false{
    display:none;
content: "000";
color:"#a9d9d1";
  }

        background-color: @secondarycolor;
    border-bottom-width: 0;
    border-left-width: 0;
  color:@primarycolor;
    // height: 30px;
    // margin-bottom: 0;
    font-weight: 800;
    opacity: 0.9;
    // padding: 5px 10px;
    // z-index: 8;

}

#auditContainer{
  background-color:red;
  height: 100%;
  z-index: 666;
  color:yellow;
}

#activityContainer {
  margin:0;
  background-color:@primarycolor;
  // padding-left:44px;
  // padding-right:44px;
    -webkit-animation: pusate 1s infinite alternate;
    -moz-animation: pusate 1s infinite alternate;
    -animation: pusate 1s infinite alternate;
    text-shadow: 0 0 8px red;
}
@-webkit-keyframes pusate {
    from { box-shadow: 0 0 10px purple; }
    to { box-shadow: 0 0 20px yellow; }
}
@-moz-keyframes pusate {
    from { box-shadow: 0 0 10px purple; }
    to { box-shadow: 0 0 20px yellow; }
}
@keyframes pusate {
    from { box-shadow: 0 0 10px purple; }
    to { box-shadow: 0 0 20px yellow; }
}


/* --------------------------------------- NPROGRESS OVERRIDES -------------- */

// #nprogress .spinner{
//   top:5px;
// }
// #nprogress .spinner-icon {
//     height:20px;
//     width:20px;
//     border-width:1px;
//     border-color: @titlecopy transparent transparent @primarycolor-trans;
// }

// #nprogress {
//   .bar {
//   background: @titlecopy;

//   position: fixed;
//   z-index: 1031;
//   top: 0;
//   left: 0;

//   width: 100%;
//   height: 12px;
// }}
/* --------------------------------------- FANCY SUBNAV TABS -------------- */



/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  // margin-top: 20px;
  /*margin-left: 50px; OG */
  margin-left: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  float:right;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>a{
  margin-bottom: 0;

  .active-colorbar{
    padding:0px;
    height:10px;
    list-style: none;
    .active-colorbar-item{
      height:inherit;
    }
// background-color:pink;
  }
}
div.bhoechie-tab-menu div.list-group>a .glyphicon,
div.bhoechie-tab-menu div.list-group>a .fa {
  color: #DDDDCE;
}
div.bhoechie-tab-menu div.list-group>a:first-child{
  border-top-right-radius: 0;
  -moz-border-top-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a:last-child{
  border-bottom-right-radius: 0;
  -moz-border-bottom-right-radius: 0;
}
div.bhoechie-tab-menu div.list-group>a.active,
div.bhoechie-tab-menu div.list-group>a.active .glyphicon,
div.bhoechie-tab-menu div.list-group>a.active .fa{
  // background-color: @secondarycolor;
  background-color: @activebg;
  background-color: none;
  // background-image: @secondarycolor;
  // color: #ffffff;
  color: black;
  font-weight:800;
  border:none;
}
div.bhoechie-tab-menu div.list-group>a.active:before{
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -13px;
  border-left: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  // border-right: 10px solid @secondarycolor;
  border-right: 10px solid @activebg;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-left: 20px;
  padding-top: 50px;
  padding-bottom: 50px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}


/* ------------------------------------------------------------------------------------ BHOECHIE OVERRIDES -- */


.list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

#active-a{
  padding-left:0;
  padding-top:0;
  padding-right:0;
}


/* --------------------------------------- HIT MARKER -------------- */

.leaflet-popup-content-wrapper{

.leaflet-popup-content{
  h5{
    color:@titlecopy;
  }
  .pu-copy{
    padding-bottom: 20px;
    .label{

    }
    input{
      margin-bottom:8px;
    }
    textarea{
      margin-bottom:8px;
    }
  }
}

div.leaflet-popup-content .marker.bt{
  color:navy;
  cursor:pointer;
}}

.leaflet-popup-content-wrapper{
  // height:200px;
  // width:420px;
  overflow: hidden;
  .leaflet-popup-content{

    position: relative;
    .leafraud-popup-og{
    position: relative;
        height:100%;
      }
      .leafraud-popup-og.replaced{
        left: 95%;
      }

.leafraud-popup-replacer{
  width:0px;
  overflow: hidden;
}
.leafraud-popup-replacer.replaced{
      background-color:brown;
      height:100%;
    width:85%;
  }

  }
}

/* --------------------------------------- SPOTEMBED -------------- */
.spotembed{
  text-align:center;
}

.spotembed.player{
  background-color:white;
  color:pink;
}

/* --------------------------------------- SCREENPLAY -------------- */
.screenbox {
    list-style: none;
    // width: 420px;
    background: white;
    border: 1px solid #333;
    padding: 5px 14px;
    margin-top:22px;
    margin-bottom:22px;
}
.screenbox li { font: 12px/14px Courier, fixed; }
.sceneheader,.character{text-transform: uppercase;}
.sceneheader, .action, .character { padding-top: 1.5ex; }
.action { padding-right: 5%; }
.character { margin-left: 40%; }
.dialogue { margin-left: 25%; padding-right: 25%; }
.parenthetical { margin-left: 32%; padding-right: 30%; }
/* special case: dialogue followed by a parenthetical; the extra line needs to be suppressed */
.dialogue + .parenthetical { padding-bottom: 0; }
.transition { padding-top: 3ex; margin-left: 65%; padding-bottom: 1.5ex; }
