---
layout: page
permalink: /tags/
---

<a class="icon-arrow_back st_back" href="/spatialtrack"></a>

<div class="filter-wrapper"><input id="livefilter-input" type="text" value=""></div>

<ul id="archives-tag-cloud" class="tag-cloud">
{% for tag in site.tags %}
  <li style="font-size: {{ tag | last | size | times: 100 | divided_by: site.tags.size | plus: 70  }}%">
    <a href="#{{ tag | first | slugize }}">
      {{ tag | first }}
    </a>
  </li>
{% endfor %}
</ul>

<div id="archives">
{% for tag in site.tags %}
  <div class="archive-group">
    {% capture tag_name %}{{ tag | first }}{% endcapture %}
    <h3 class="tags-archive-tag" id="#{{ tag_name | slugize }}">{{ tag_name }}:</h3>
    <a name="{{ tag_name | slugize }}"></a>
    {% for post in site.tags[tag_name] %}
    <article class="archive-item">
      <!-- <h4><a href="{{ root_url }}{{ post.url }}">{{post.title}}</a></h4> -->
      <h4><a href="{{ post.url | prepend: site.baseurl }}">{{post.title}}</a></h4>
    </article>
    {% endfor %}
  </div>
{% endfor %}
</div>
