---
---

@import "reset";
@import "config";

/* -------------------------------------- VARS ----------- */

$chocolate: #170312;
$mint: #498467;
$mint-light: #9cd08f; 
$plum: #592941;
$mocha: #402e2a;
$anno: #A5A5A1;
$effectiveblack: #001832;
$softerblack: #686866;

// $milleria-bg: rgba(255,255,255,.78);
$milleria-bg: rgba(255,255,255,.88);
$milleria-copy-color: #001832;
$milleria-copy-color-anno: #A5A5A1;
$milleria-copy-color-a: #C36A01;
$milleria-copy-color-a-visited: #50667A;
// $milleria-copy-color-trigger: #A50E1B;
$milleria-copy-color-highlight: #864900;


/* Coolors Exported Palette - coolors.co/592941-498467-170312-402e2a-9cd08f */

$milleria-copy-color: $softerblack;
$milleria-copy-color-a: $chocolate;
$milleria-copy-color-trigger: $mint;
$milleria-copy-color-trigger-hover: $mint-light;
$milleria-copy-color-highlight: $plum;


/* -------------------------------------- OVERRIDES (RESET/CONFIG) ----------- */

body {
    // color: $color-primary;
    color:$milleria-copy-color;
    // background: $color-background;
    background: $milleria-bg;
    font-family: 'Inconsolata', ;
    font-size: 100%;
    font-weight: 400;

 ::selection {
  background: $milleria-copy-color-highlight; /* WebKit/Blink Browsers */
  color:#fff;
}
::-moz-selection {
  background: $milleria-copy-color-highlight; /* Gecko Browsers */
  color:#fff;
}

}
h1 {
    margin-bottom: 5px;
}
// h4 {
//     font-weight: 400;
// }
p {
    font-size: 1em;
    line-height: 150%;
}

ul {
    list-style: none;
    li {
        padding: 5px;
        padding-left: 10px;
        @media screen and (max-width: $br) {
            padding: 10px 0 10px 0;
        }
    }
}

.filter-wrapper{
    text-align:center;
    padding-left:25%;
    width:100%;
    margin-bottom:22px;
input[type="text"] {
    color: gray;
  display: block;
  margin: 0;
  padding:6px;
  width: 50%;
  font-family: sans-serif;
  font-size: 18px;
  appearance: none;
  box-shadow: none;
  border:none;
  border-radius: 2px;
}
input[type="text"]:focus {
  outline: none;
}}

#console{
       background-color: $milleria-copy-color-a;
    color: white;
    font-weight: 800;
    
    padding: 5px 20px;
    position: fixed;
    right: 0;
    top: 0;
    width: 33%;
}
#console.down{
        display:none;
    }

.wrapper {

    .list-tags{
    width:40%;
    position:relative;
    float:right;
}
//     .blog{
//     width:60%;
//     position:relative;
//     float:left;
// }

    max-width: 600px;
    margin: auto;
    padding: 60px 30px 60px 30px;
    position:absolute;
    right:5%;
    left:5%;
    @media screen and (max-width: $br) {
        padding: 20px;
    }

    a.footnote{
        vertical-align: super;
    font-size: smaller;
    font-weight:800;
    }
}



.header {
    display: flex;
    color: $milleria-copy-color-trigger;
    font-weight: 800;
    justify-content: space-between;
    align-items: baseline;
    padding-bottom: 50px;
    @media screen and (max-width: $br) {
        display: block;
    }
    h1 {
        font-size: 2em;
        margin-bottom: 0;
    }
    ul {
        margin-top: 10px;
        li {
            display: inline;
            padding: 0;
            padding-left: 5px;
        }
    }
}


.portfolio {
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}




.blog {
    width:60%;
    position:relative;
    float:left;
    padding-bottom: 30px;
    h1 {
        font-size: 1.4em;
        margin-bottom: 5px;
    }
}


.post {
    // padding-bottom: 30px; //og
    padding: 15px 65px;
    &__img__wrapper{
        float: right; margin-top: 10px; width: 210px; height: 100%; margin: 15px;
          // float: right;
    //       padding:20px;
    // position: relative;
    // right: 5%;
    }
    &__title {
        font-size: 1.6em;
        font-weight: 700;
        text-decoration: underline;
        margin-top: 20px;
        margin-bottom: 5px;
    }
    &__date {
        font-size: 1em;
        font-style: italic;
    }
    &__content {
        padding-top: 40px;
        h1 {
            font-size: 1.2em;
            font-weight: 700;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 15px;
        }
        a {
            text-decoration: underline;
            &:hover {
                font-weight: bold;
            }
        }
        strong {
            font-weight: 700;
        }
        em {
            font-style: italic;
        }
        ul {
            font-size: 1em;
            list-style: circle;
            margin-left: 30px;
            margin-top: -5px;
            margin-bottom: 5px;
            li {
                padding: 5px;
                padding-left: 5px;
                @media screen and (max-width: $br) {
                    padding: 10px 0 10px 0;
                }
            }
            @media screen and (max-width: $br) {
                margin-left: 10px;
            }
        }
        img {
            margin-top: 10px;
            margin-bottom: 10px;
            @media screen and (max-width: $br) {
                width: 100%;
                margin: auto;
            }
        }


/* --------------------------------------- LYRICS -------------- */

.lyrics{
  font-style: italic;
  margin-top:20px;
  margin-bottom:30px;
padding: 25px;
width: 90%;
margin-left: 5%;
  font-style: italic;
  color:$milleria-copy-color-anno;
  // background-color:"white";
  border-radius:2px;
  white-space: pre;
}


/* --------------------------------------- SCREENPLAY -------------- */
.screenbox {
    list-style: none;
    width: 60%;
    background: white;
    border: 1px solid #333;
    padding: 5px 14px;
    margin-top:52px;
    margin-bottom:52px;

    li { font: 12px/14px Courier, fixed; list-style: outside none none;}

    .sceneheader,.character{text-transform: uppercase;}
.sceneheader, .action, .character { 
    // padding-top: 1.5em;
     }
.action { padding-right: 5%; }
.character { margin-left: 40%; margin-top:20px; }
.dialogue { margin-left: 25%; padding-right: 25%; }
.parenthetical { margin-left: 32%; padding-right: 30%; }
/* special case: dialogue followed by a parenthetical; the extra line needs to be suppressed */
.dialogue + .parenthetical { padding-bottom: 0; }
.transition { padding-top: 3ex; margin-left: 65%; padding-bottom: 1.5ex; }

}

    }
}

.about {
    &__title {
        font-size: 1.6em;
        font-weight: 700;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    &__content {
        margin-top: 20px;
        h1 {
            font-size: 1.2em;
            font-style: italic;
            margin-top: 30px;
            margin-bottom: 5px;
        }
        p {
            font-size: 1em;
            line-height: 150%;
            margin-bottom: 10px;
        }
    }
}

/* ---------------------- END STOCK ------------------ */

.st_back{
    font-size:1.6em;
}

#map {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index:-10;
}

.date{
    color:$milleria-copy-color-anno;
}
.anno{
    color:$milleria-copy-color-anno;
}

.wrapper { // OVERRIDE
    max-width: 90%;
    background-color:$milleria-bg;
    color:$milleria-copy-color;
    margin: auto;
    padding: 60px 30px 60px 30px;
    @media screen and (max-width: $br) {
        padding: 20px;
    }
a {
  color: $milleria-copy-color-a;
  font-weight:600;
  text-decoration: none;
  &:visited {
  font-weight:normal;
  color: rgba( $milleria-copy-color-a, .2 );
    text-decoration: none;
}
&:hover {
    // color: $milleria-copy-color;
    color: $milleria-copy-color-highlight;
    // text-decoration: underline;
}
&:active {
    color: $milleria-copy-color-a;
    text-decoration: none;
}
}
}


.wrapper.down{
    // top:90%;
    left:99%;
}

.trigger{
    color: $milleria-copy-color-trigger;
    font-weight:800;
    cursor:pointer;
    &:hover{
        color: $milleria-copy-color-trigger-hover;
    }
}

#post-toolbar{
text-align:center;
 margin: 0;
    padding: 0;
    list-style: none;
    .active-colorbar{
        color:white;
        cursor:pointer;
        display: inline;
        // margin-right:-8px;
        // &:hover{
        //     background-color: $milleria-copy-color-a-visited;
        // }
    }
}

.post-tags-wrapper{
    margin-top:25px;
    font-size:.8em;
}
// for tag cloud and archives
#archives-tag-cloud {
  list-style: none;
  padding: 0;
  text-align: justify; 
  margin-bottom:33px;
  // font-size: 16px;
  li {
    display: inline-block;
    margin: 0 12px 12px 0; 
  }
}
#archives {
  padding: 5px;
  padding-left:5%;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}
.post-tags {
  text-align: right;
}

.tags-archive-tag{
    font-size:1.3em;
    text-transform: uppercase;
    margin-top:18px;
    font-weight:800;
    margin-bottom:12px;
}