<div class="container col-lg-12"><div class=" pu-copy pu-copy-marker col-sm-12">
    {{#if name}}
    <h5>{{name}}</h5>
    {{else}}
    <h5>(no name string)</h5>
    {{/if}}

    <span class="pu-slug-trigger" data-target="{{location}}" data-id="{{slug}}">read about it!</span>
</div> <!-- marker -->

</div> <!-- ./container -->