{{#each rows}}
{{#debug this}}{{/debug}}
<div class=" pu-copy pu-copy-marker col-sm-12">
    {{#if this.name}}
    <h5>{{this.name}}</h5>
    {{else}}
    <h5>(no name string)</h5>
    {{/if}}
</div>
{{/each}}