	<h5>{{this.title}}</h5>

<div class="bt-post-bank">
	<span class="bt-post-zoomto" data-placement="top" data-toggle="tooltip" title="zoom all the way to this post's location" type="button"><span class="glyphicon glyphicon-magnet"/></span>
</div>
{{{this.guts}}}
