	<h3>{{this.title}}</h3>

<!-- <img class="active-post-jacket pull-left" src="offline/jackets/{{this.id}}.jpg" alt="" width="150px" height="150px" border="0" /> -->

<!-- <div class="bt-post-bank">
	<span class="bt-post-zoomto glyphicon glyphicon-magnet" title="zoom straight to this post's location"></span>
</div> -->
{{{this.guts}}}
