<input type="text" data-placement="top" class="form-control" placeholder="{{solrstring}}">
      <span class="input-group-btn">
        <button id="bt-search-search" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"/></button>
        <button title="reset query/show all" data-toggle="tooltip" id="bt-search-reset" class="btn btn-default" type="button"><span class="glyphicon glyphicon-remove"/></button>
      </span>