	{{!-- {{#each akrows}} --}}
	<a class="list-group-item text-center active about" href="#" data-id="about-cover-letter-gloss">
		<br>
		A-K
	</a>
	{{!-- {{/each}} --}}

	<a class="list-group-item text-center  about" href="#" data-id="about-portfolio">
		<br>
		Portfolio
	</a>
	<a class="list-group-item text-center  cv" href="#" data-id="cv-positions">
		<br>
		Cv Positions
	</a>
	<a class="list-group-item text-center  cv" href="#" data-id="cv-publications">
		<br>
		Publications &amp; Presentations
	</a>
	<a class="list-group-item text-center  cv" href="#" data-id="cv-awards-and-recognition">
		<br>
		Awards &amp; Recognition
	</a>
