{{this.count}}
{{!-- {{#each rows}} --}}
{{!-- <a data-id="{{this.slug}}" href="#" class="list-group-item text-center {{#if this.active}}active{{/if}} {{#groupem this.slug}}{{/groupem}}">
	<br/>
	{{this.title}}
</a> --}}
<a data-id="data-id" href="#" class="list-group-item text-center ">
	xx
</a>
<a data-id="data-id" href="#" class="list-group-item text-center ">
	x2
</a>
{{!-- {{/each}} --}}