<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% if page.title %}
    <title>{{ page.title }}</title>
    {% else %}
    <title>{{ site.name }}</title>
    {% endif %}

<link rel="canonical" href={{ page.url}} />

    <meta name="description" content="{{ site.description }}">

<!--     {% if site.google_verification %}
    <meta name="google-site-verification" content="{{ site.google_verify }}">
    {% endif %} -->

    <link rel="icon" href="/assets/img/favicon.png">
    <!-- <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700' rel='stylesheet' type='text/css'> -->
    <link rel="stylesheet" type="text/css" href="{{ "/assets/fonts/fonts.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ "/scripts/lib/leaflet/leaflet.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/icomoon/style.css" }}">
    <link rel="stylesheet" type="text/css" href="{{ "/assets/css/main.css" }}">

</head>

<body>
    <div id="map"></div>
    <div id="console" class="down"></div>

    <div class="wrapper">
        {{ content }}
    </div>

</body>

<!-- ........................................ LIB -->

<script src="{{ "/scripts/components/jquery/jquery.min.js"  }}"></script>
<script src="{{ "/scripts/lib/leaflet/leaflet.js"  }}"></script>
<script src="{{ "/scripts/lib/Vibrant.min.js"  }}"></script>
<script src="{{ "/scripts/components/handlebars/handlebars.runtime.min.js"  }}"></script>
<!-- <script src="{{ "/scripts/lib/less-1.7.5.min.js"  }}"></script> -->
<!-- <script src="{{"/scripts/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js" }}"></script> -->
<script src ="{{"/scripts/lib/underscore-min.js" }}"></script>
<script src ="{{"/scripts/lib/backbone-min.js" }}"></script>
<script src ="{{"/scripts/lib/Vibrant.min.js" }}"></script>
<script src ="{{"/scripts/lib/jquery.liveFilter.js" }}"></script>

<!-- ........................................................................................... BB -->
<script src="{{ "/scripts/h-templates-compiled.js"  }}"></script>
<script src="{{ "/scripts/Models.js"  }}"></script>
<script src="{{ "/scripts/Collections.js"  }}"></script>
<script src="{{ "/scripts/Views.js"  }}"></script>
<script src="{{ "/scripts/App.js"  }}"></script>
<!-- <script src="{{ "/scripts/Routes.js"  }}"></script> -->


</html>
